@import "../../../index.scss";

.content {
  display: flex;
  gap: 97px;
}

.form {
  width: 720px;
}

.sectionMargin {
  margin-top: $form-section-gap;
}

.submitButton {
  margin-top: $form-section-gap;
}
