@import "../../../../index.scss";

.rows {
  display: flex;
  flex-direction: column;
  gap: $form-section-row-gap;
}

.header {
  margin-top: 0;
  margin-bottom: 20px;
  @extend .form-section-label-typography;
}
